{% extends 'user_register/base.html' %}

{% block content %}

<div class="container">

<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
    <tr>
      <td>SL No.</td>
      <td>Id</td>
      <td>Username</td>
      <td>Email</td>
      <td>
    </tr>
  </thead>
  <tbody>
    {% for userlist in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{userlist.id}}</td>
      <td>{{userlist.username}}</td>
      <td>{{userlist.email}}</td>
       
      <!-- <form action="" method="post" class="d-inline">
        {% csrf_token %}
        <a href ="{% url 'update_user' user.id %}" type="sumbit" class="btn">
          <i class="far fa-edit fa-md text-success"></i>
        </a>
        <a href="{% url 'admin_user_delete' user.id %}" type="sumbit" class="btn">
          <i class="far fa-trash-alt fa-md text-danger"></i>
        </a>
      </form> -->
      
    </tr>
    {% endfor %}

  </tbody>
</table>

<a href="{% url 'admin_home' %}" class="btn btn-secondary btn-md float-right">
  Back
</a>
</div>
{% endblock %}